@import "../../styles/Variable.scss";
.news{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    font-family: $font;
    // border-bottom:1px solid #999999bb;
    margin-bottom: 2rem;
    @include breakpoint (md) {
        width: 100%;
        height: max-content;
        padding: 0 .5rem;
        margin-top: 2rem;
    }
    &__first{
        width: 100%;
        height: 90vh;
        background: linear-gradient(rgba(10, 10, 10, 0.26), rgba(3, 3, 3, 0.253)), url(../../assets9/asset0.jpeg);
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #fff;
        @include breakpoint (md) {
            width: 100%;
            height: 70vh;
            
        }
        h1{
            font-size: 6rem;
            font-weight: 300;
            @include breakpoint (md) {
                font-size: 3rem;
            }
        }
        p{
            // border: 1px solid red;
            width: max-content;
            font-size: 1.2rem;
            font-weight: 600;
            letter-spacing: 3px;
            line-height: 2rem;
            @include breakpoint (md) {
                font-size: 1rem;
                padding: 0 1rem;
                width: 100%;
                line-height: normal;
                margin-top: 1rem;
            }
            
        }
    }
    &__second{
        width: 100%;
        height: max-content;
        @include breakpoint (md) {
            width: 100%;
            padding: 0 1rem;
        }
        &__head{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            // border: 1px solid red;
            padding: 1rem;
            @include breakpoint (md) {
                width: 100%;
            }
            h1{
                font-weight: 100;
                font-size: 1.5rem;
                // color: #444;
            }
            p{
                font-weight: 100;
                color: #444;
                @include breakpoint (md) {
                    width: 100%;
                    margin-top: 1rem;
                }
            }
        }
        &__mid{
            width: 100%;
            @include breakpoint (md) {
                width: 100%;
            }
            p{
                margin: 1.2rem 0;
                font-weight: 100;
                color: #444;
                @include breakpoint (md){
                    margin: 0;
                }
            }
        }
        &__secondMid{
            width: 100%;
            height: max-content;
            display: flex;
            align-items: center;
            justify-content: center;
            // border: 1px solid maroon;
            flex-direction: column;
            margin-bottom: 2.5rem;
            @include breakpoint (md) {
                width: 100%;
            }
            img{
                width: 80%;
                height: 50rem;
                object-fit: cover;
                margin-bottom: 1.2rem;
                @include breakpoint (md) {
                    width: 100%;
                }

            }
            p{
                width: 80%;
                font-size: .6rem;
                display: flex;
                @include breakpoint (md) {
                    width: 100%;
                }
            }
        }
        &__foot{
            margin-top: 2.5rem;
            width: 100%;
            height: max-content;
            @include breakpoint (md) {
                width: 100%;
            }
            p{
                color: #444;
                margin: 1.5rem 0;
                line-height: 2rem;
                @include breakpoint (md) {
                    margin: 0;
                }
            }
        }
    }
    &__line{
        width: 100%;
        height: 2rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding:0 2rem;
        @include breakpoint (md) {
            width: 100%;
            padding: 0;
        }

        hr{
            width: 95%;
           height: 1px;
           @include breakpoint (md) {
            width: 95%;
           }
        }

    }
    &__third{
        width: 100%;
        height: max-content;
        // border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 4rem;
        @include breakpoint (md) {
            width: 100%;
            padding: 0 1rem;
        }
        &__top{
            width: 100%;
            height: 7rem;
            // border: 1px solid greenyellow;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding:.5rem;
            @include breakpoint (md) {
                width: 100%;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
            }
            
            &__left{
                width: 40rem;
                height: 100%;
                // border: 1px solid #444;
                line-height: 1.5rem;
                @include breakpoint (md) {
                    width: 100%;
                }
                &__content{
                    width: 60%;
                    display: flex;
                    // border: 1px solid red;
                    align-items: center;
                    justify-content: space-around;
                    @include breakpoint (md) {
                        width: 100%;
                    }
                }
                p{
                    width: 100%;
                    display: flex;
                    color: #4444449c;
                    font-size: 13px;
                    cursor: pointer;
                    @include breakpoint (md) {
                        width: 100%;
                        text-align: start;
                    }
                }
            }
            &__right{
                width: 10rem;
                height: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                // border: 1px solid red;
                @include breakpoint (md) {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content:flex-start;
                    margin-top: 1rem;
                }
                p{
                    margin:0 .5rem;
                    color: #4444449c;
                    font-size: 13px;
                    cursor: pointer;
                }
            }
        }
        &__mid{
            width: 100%;
            height: max-content;
            // border: 1px solid maroon;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            line-height: 1.5rem;
            margin-top: 1rem;
            @include breakpoint (md) {
                width: 100%;
                border: 1px solid red;
            }
            h1{
                font-weight: 100;
                color: #444;
                font-size: 1.5rem;
                cursor: pointer;
               
                &:hover{
                    color: #999;
                }
            }
            p{
                color: #444;
                font-weight: 100;
                font-size: .9rem;
            }
        }
        &__foot{
            width: 100%;
            height: max-content;
            // border: 1px solid blue;
            margin-top: 1rem;
            // line-height: 2rem;
            @include breakpoint (md) {
                width: 100%;
            }
            p{  
                margin-bottom: 1.5rem;
                color: #444;
                font-weight: 100;
            }
        }
        &__img{
            width: 100%;
            height: max-content;
            // border: 1px solid purple;
            @include breakpoint (md) {
                width: 100%;
            }
            img{
                width: 80%;
                height: 50rem;
                object-fit: cover;
                @include breakpoint (md) {
                    width: 100%;
                }
            }
        }
    }
}